.body {
    max-width: 960px;
    background-color: beige;

}

.name {
    max-width: 100%;
    background: url(../img/main.jpg);
    height: 200px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 30px;
}


.sub {
    text-align: center;
    margin: 20px 0;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.form {
    width: 100%;
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
    background-color: aliceblue;
}

.input {
    width: 95%;
    border: white;
    text-align: center;
}

.theme {
    width: 10%;
}

.mon {
    background-color: rgb(255, 99, 132, 0.3);
}

.tue {
    background-color: rgb(255, 159, 64, 0.3)
}

.wed {
    background-color: rgb(255, 205, 86, 0.3)
}

.thu {
    background-color: rgb(75, 192, 192, 0.3);
}

.fri {
    background-color: rgb(54, 162, 235, 0.3);
}

.sat {
    background-color: rgb(153, 102, 255, 0.3);
}

.sun {
    background-color: rgb(201, 203, 207, 0.3);
}

.target {
    width: 20%;
}


table,
td,
th {
    border: 1px solid #595959;
    border-collapse: collapse;
}

.chart {
    width: 960px;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
}